.progressCircle{
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
    position: relative;

}
.smallchart{
    width: 100px;
    height: 60px;
}

.progressbar-text{
     text-align: center;
     line-height: 12px;

     small{
         font-size: 11px;
     }
}